@using Models
@model List<Game>

@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div>
        <h3 class="oneGameTitle">Last 10 games</h3>

        @foreach (var game in Model)
        {
            <div class="row oneGame">
                <div class="col-md-5 col-md-offset-4">
                    <h4> (@game.Date.ToShortDateString())</h4>
                    <h2 style="text-align:left;float:left;"><span class="label label-default homeTeam">L</span>@game.HomeTeamPts @game.HomeTeam.Name</h2>
                    <span class="teamSeparator"> - </span>
                    <h2 style="text-align:left;float:right;">@game.GuestTeamPts @game.GuestTeam.Name<span class="label label-default guestTeam">W</span></h2>
                </div>
            </div>
        }
    </div>
</div>
 



